/.vs/
/build/
/out/
/artifacts/
/Testing/
/_deps/
/.idea/
/.cache/
/.DS_Store
/.vscode/
/.cxx/
/.conan/
.conan2/
/.venv/
/packaging/conan/test_package/build/
/packaging/conan/test_package/CMakeUserPresets.json
*.user
*.obj
*.o
*.pdb
*.ilk
*.log
*.tmp
*.swp
*.orig
*.zip
*.tar.gz
